/*Шапка*/
a{
	color:black;
	text-decoration: none;
}
body{
	margin:0;
	padding:0;
}
header{
	background-color:#F6F6F6;
}
main{
	background-color:#F6F6F6;
}
footer{
	background-color: #764F96;
}
.On_Shapka{
	position: absolute;
	margin-top: -20px;
	left:60%;
}
.On_Shapka_identy{
	margin:0 30px;
	color:#BFBFBF;
}
.Shapka_main{
	margin-top:10px;
	text-align:center;
	background-color:#ffffff; 
}
.Shapka{
	margin:0 10px;
	vertical-align: sub
}
.Shapka_identy{
	color:#9070A9;
	border-bottom: 1px dashed #000080;
}
/*Header*/
.main_text{
	width: 50%;
	margin:50px 200px;
}
.main_size{
	font-size: 50px;
}
.button_header{
	font-size: 15px;
	width: 250px;
	height: 40px;
	background-color:#FC3698;
	border:none;
	color:white;
	margin-top: 10px;
}
.img_Shapka{
	width: 100px;
	margin-left:50%;
	margin-top: -400px;
}
/*Main*/
.What{
	height: 300px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.info_main{
	width:30%;
	float:left;
}
.button_our_work{
	width:150px;
	color:white;
	height: 40px;
	background-color:#FCF9FF;
	border-radius: 2px;
	border:solid 1px;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.button_our_work:hover{
	background:linear-gradient(red,orange);
}
.block_main{
	width:620px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
}
.block_first{
	width:200px;
	float:left;
	background-color: #ffffff;
}
.block_second{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
.Before{
	float:right;
}
.Why_us{
	width:80%;
	height: 600px;
	margin-left:300px;
}
.our_sentence{
	background-color: #ffffff;
	width:40%;
	height: 170px;
	float:left;
	margin:0 20 20 0px;
}
.second_us{
	margin-left: 80px;
}
.size_us{
	font-size:100px;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
	color:#9070A9;
	border-right: 2px solid #9070A9;
}
.about_us_text{
	float:left;
	margin-top:20px;
	margin-left:10px;
}
/*Slider*/
.On_slider{
	width:99%;
	height: 400px;
	margin-top: 50px;
}
.slick-slider{
	width:1400px;
	float:right;
}
.slick-active{
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow:hidden;
}
/* Лента слайдов */
.slick-track{
	display:flex;
}
/* Слайд */
.slick-slide{
	margin: 0 50px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
}
/* Стрелка влево */
.slick-arrow.slick-prev{

}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
.slider{
	position:relative;
	padding: 0px 50px;
	margin-right: 100px;
}
.slider .slick-arrow{
	position:absolute;
	top:50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	margin-top: -30px;
}
.slider .slick-arrow.slick-prev{
	left:0;
	background:url('image/foto.png') 0 0 / 100% no-repeat;
  	outline: none;
  	border: none;
}
.slider .slick-arrow.slick-next{
	right:0;
	background:url('image/foto2.png') 0 0 / 100% no-repeat;
	border: none;
  	outline: none;
}
.slider_item{
	text-align: center;
	opacity: 0.4;
}
.slider_item.slick-center{
	opacity:1;
}
.slider .slick-dots{
	display:flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style:none;
	margin:0 10px;
}
.slider .slick-dots li button{
	font-size: 0;
	width:0px;
	height:0px;
	background-color:#fff;
	border:none;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border:none;
}
.slick-track{
	display: flex;
	align-items:flex-start;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
/*Footer*/
.main_footer{
	width:48%;
	height: 400px;
	float: left;
}
.img_footer{
	float: right;
	margin-right:20px; 
}
.info_footer{
	width:30%;
	float: right;
	color:white;
	margin-top:150px;
}
.Almaty{
	border-left:2px solid white;
	margin-left: 20px;
}
.in_Almaty{
	margin-left: 20px;
}
.Nursultan{
	margin-left: 20px;
	margin-top:30px;
	border-left:2px solid white;
}
.in_Nursultan{
	margin-left:20px;
}
.map_footer{
	width:51.7%;
	height: 402px;
	float:left;
}
.under_main_footer{
	width:100%;
	background-color:#714A91;
	color:white;
	overflow: hidden;
}
.shapka_footer{
	margin-left: 20px;
	float: left;
	font-size: 10px;
}